
body {
    background: rgb(128, 179, 255);
    background: linear-gradient(90deg, rgb(128, 179, 255) 0%, rgb(13, 110, 253) 100%);
}
label {
font-family: "Raleway", sans-serif;
font-size: 11pt;
}
#card {
background: #fbfbfb;
border-radius: 15px;
box-shadow: 1px 4px 12px rgba(26, 31, 95, 0.65);
height: 28rem;
margin: 8rem auto auto auto;
width: 25rem;
}
#card-content {
padding: 1rem 3rem;
}
#card-title {
    padding: 1rem 1rem 2.5rem 1rem;
    text-align: center;
}
.FooterButtons{
    justify-content: center;
    display: flex;
    padding-top: 0.5rem;
}

.FormButton{
    margin: 1rem;
    width: 7rem;
    background-color: #afafaf !important;
    border-color: #afafaf !important;
}

.FormButton:hover{
    margin: 1rem;
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
}

.FormButton:focus{
    margin: 1rem;
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
    box-shadow: 1px 4px 12px rgba(13, 110, 253, 0.65) !important;
}

.FormButton:active{
    margin: 1rem;
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
    box-shadow: 1px 4px 12px rgba(13, 110, 253, 0.65) !important;
}

.FormButtonPure{
    width: 7rem;
    background-color: #afafaf !important;
    border-color: #afafaf !important;
}

.FormButtonPure:hover{
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
}

.FormButtonPure:focus{
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
    box-shadow: 1px 4px 12px rgba(13, 110, 253, 0.65) !important;
}

.FormButtonPure:active{
    width: 7rem;
    background-color: #757575 !important;
    border-color: #757575 !important;
    box-shadow: 1px 4px 12px rgba(13, 110, 253, 0.65) !important;
}

.LogoLogin{
    width: 90%;
}


.formControl{
    font-size:.9rem !important;
    border-radius: 10px !important;
    background-color: white !important;
}

.formControl:focus{
    font-size:.9rem !important;
    border-radius: 10px !important;
    border-color: rgb(136, 136, 136) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}

.formControlSignUp{
    font-size:.9rem !important;
    border-radius: 10px !important;
    background-color: white !important;
}

.formControlSignUp:focus{
    font-size:.9rem !important;
    border-radius: 10px !important;
    border-color: rgb(136, 136, 136) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}

.formControlSignUpDate{
    font-size:.9rem !important;
    border-radius: 10px !important;
    background-color: white !important;
    color: #757575 !important;
}

.formControlSignUpDate:focus{
    font-size:.9rem !important;
    border-radius: 10px !important;
    border-color: rgb(136, 136, 136) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}

.formControlSignUpSelect{
    font-size:.9rem !important;
    border-radius: 10px !important;
    background-color: white !important;
    color: #757575 !important;
}

.formControlSignUpSelect:focus{
    font-size:.9rem !important;
    border-radius: 10px !important;
    border-color: rgb(136, 136, 136) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}

.formControlSignUpSelect:active{
    font-size:.9rem !important;
    border-radius: 10px !important;
    border-color: rgb(136, 136, 136) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}

.linkToPassword{
    font-size: smaller;
    color: rgb(170, 170, 170);
    font-style: oblique;
    text-decoration: none;
}
.linkToPassword:hover{
    color: rgb(13, 110, 253);
}

.SignUpModalFormLabel{
    font-size: .8rem !important;
    padding: 0% !important;
    margin: 0% !important;
    color: #757575 !important;
    margin-left: 0.5rem !important;
}

.SignUpModalBody{
    padding: 2rem 3rem 1rem 3rem !important;
    justify-content: center !important;
}

.mb-3SingUp{
    padding-bottom: 1rem !important;
    width: 100% !important;
}

.SignUpForm{
    display: inline !important;
}

.SignUpModalHeader{
    justify-content: center !important;
}

.SignUpModal{
    border-radius: 8px !important;
}

.modal-content{
    border-radius: 15px !important;
}
